body 
{
        background-color: azure;
        outline-style:solid;
        border: none;
        border-color:red; 
        font-family: Verdana;
        color: midnightblue;

}

 class:registration 
 {
    text-align:center;
 }
 class:reports{
     text-align:center;
 }
section p{
    font-size: 12px;
}
img {
   width: 800px;
   height: 100px;
  
}
ul{
    list-style-type: none;
}