body 
{
        background-color: azure;
        outline-style:solid;
        border: none;
        border-color:red; 
        font-family: Verdana;
        color: midnightblue;

}

 class:registration 
 {
    text-align:center;
 }
 class:reports{
     text-align:center;
 }
section p{
    font-size: 12px;
}
img {
    width: 800px;
    height: 100px;
}

ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
    overflow: hidden;
    background-color:midnightblue;
}

li{
    float: left;

}

li a{
    display: block;
    color:white;
    text-align:center;
    padding: 8px;
    text-decoration: none;
}

li a:hover{
    background-color: azure;
    color:midnightblue;
}


li{

    list-style-type: none;
}


div.reportTableDiv{
   height: 300px;
   overflow-y:scroll;
    
}





table td{
    width : 1000px;
    font-size:small;
    border: 1px solid #ddd;
    padding:2px;

}

table th{
    font-size:small;
    text-align: left;
    background-color: midnightblue;
    color: white;

}

p.error{
    color:red;
    font-size:small;
}
