body 
{
        background-color: white;
        outline-style:solid;
        border: solid;
        border-color:red; 
        font-family: Verdana;
        color: blue;

}

 class:registration 
 {
    text-align:center;
 }
/*ul {
    list-style-type:none;
    margin: 5;
    padding: 5;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    text-align: left;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



*/
section p{
    font-size: 12px;
}
img {
   width: 800px;
   height: 100px;
  
}